*,*::before,*::after {
  box-sizing: inherit;
}

:root {
  box-sizing: border-box;
  font-family: "Space Mono";
  font-weight: 700;

  /* color palette */
  --btn-bg: hsl(172, 67%, 45%);

  --main-bg: hsl(185, 41%, 84%);
  --result-bg: hsl(183, 100%, 15%);

  --label-color: hsl(186, 14%, 43%);
  --person-color: hsl(184, 14%, 56%);
  --normal-color: hsl(189, 41%, 97%);
}

body {
  margin: 0;
  padding: 0;

  background-color: var(--main-bg);
}

/* btn */
.btn {
  border-radius: .3em;
  padding-block: .5em;

  font-size: 1.2rem;
  text-align: center;
}

.btn:hover {
  background-color: #9fe8df;
  color: var(--result-bg);

  cursor: pointer;
}

.btn--primary {
  background-color: var(--btn-bg);
  color: var(--result-bg);
}

.btn--small {
  background-color: var(--result-bg);
  color: var(--normal-color);
}

.btn--active {
  background-color: var(--btn-bg);
  color: var(--result-bg);
}

/* input[type="number"] */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.input-number {
  text-align: right;

  font-size: 1.35rem;
  font-family: "Space Mono";
  font-weight: 700;
  color: var(--result-bg);

  background-color: #f3f8fb;
  border: 2px solid transparent;
  border-radius: .3em;

  width: 100%;
  padding: 0.3em .8em;
}

.input-number:hover {
  border: 2px solid var(--btn-bg);
  cursor: text;
}

.input-number:focus {
  border: 2px solid var(--btn-bg);
  outline: none;
}

.input-number--small {
  font-size: 1.2rem;

  border-radius: .3em;
  padding-block: 0;
}

.input-number--warning {
  border: 2px solid #dc6050;
}

.warning {
  display: none;

  color: #dc6050;
  font-size: .8rem;
}

/* mobile design */

header {
  text-align: center;
  margin-block: 3em;
}

.card {
  display: grid;
  gap: 2em;

  width: min(420px,100vw);
  margin-inline: auto;
  padding: 2em;
  background-color: white;
  border-radius: 1em;

  grid-template-columns: 100%;
  grid-template-areas: 
    "bill"
    "tip"
    "no-of-people"
    "result";

  label {
    color: var(--label-color);
  }

  .bill {
    grid-area: bill;

    display: flex;
    gap: .5em;
    flex-flow: column;

    &__input {
      background-image: url("../../images/icon-dollar.svg");
      background-repeat: no-repeat;
      background-position: top 50% left .8em;
    }
  }

  .tip {
    grid-area: tip;

    display: flex;
    gap: .5em;
    flex-flow: column;

    &__grid {
      display: grid;
      gap: 1em;

      grid-template-columns: repeat(2,150px);
      margin-top: .5em;
    }
  }

  .no-of-people {
    grid-area: no-of-people;

    display: flex;
    gap: .5em;
    flex-flow: column;

    &__title {
      display: flex;

      align-items: center;
      justify-content: space-between;
    }

    &__input {
      background-image: url("../../images/icon-person.svg");
      background-repeat: no-repeat;
      background-position: top 50% left .8em;
    }
  }

  .result {
    grid-area: result;
    padding: 2em;

    background-color: var(--result-bg);
    border-radius: .9em;

    width: calc(100% + 1.5em);
    position: relative;
    right: .75em;

    display: flex;
    flex-flow: column;

    justify-content: space-between;

    &__amount div {
      display: flex;
      justify-content: space-between;
      align-items: center;

      margin-bottom: 2em;
    }

    h2 {
      font-size: 1rem;
      color: var(--normal-color);

      margin: 0;
      span {
        display: block;

        font-size: .8rem;
        color: var(--person-color);
      }
    }

    .amount {
      color: var(--btn-bg);
      font-size: 2rem;

      margin: 0;
    }
  }
}

/* desktop design */

@media only screen and (min-width:1200px) {
  .card {
    width: 921px;

    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
      "bill result"
      "tip result"
      "no-of-people result";
  }

  .card {
    .tip__grid {
      grid-template-columns: repeat(3,1fr);
    }

    .result p.amount {
      font-size: 3rem;
    }
  }
}
